body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label,section {
	margin:0;
	padding:0;
}

body {
	background: #222;
	font-family: monospace;
}

#container {
	position: relative;
	width: 1000px;
	height: 650px;
	margin: auto;
}

#announce {
	width: 1000px;
	height: 600px;
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 600px;
	text-align: center;
	font-size: 100px;
	color: #ccc;
}

#message {
	width: 1000px;
	height: 600px;
	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 80px;
	text-align: center;
	font-size: 60px;
	color: #ccc;
}


#viewport {
	position: absolute;
	top: 0px;
	left: 0px;
}

#player {
	position: absolute;
	top: 0px;
	left:0px;
	width: 16px;
	height: 16px;
	background: url('../resources/images/player.svg') center no-repeat;
	transform-origin: center;
	-moz-transform-origin: center;
	-webkit-transform-origin: center;
}

#player.R {
	background: url('../resources/images/player_r.svg') center no-repeat;
}
#health {
	position: absolute;
	bottom: 15px;
	right: 10px;
	color: #ccc;
}

#killz {
	position: absolute;
	top: 597px;
	right: 10px;
	font-size: 20px;
	color: #ccc;
}

#lives {
	position: absolute;
	top: 590px;
	left: 0px;
	color: #ccc;
	line-height: 50px;
	font-size: 50px;
}

#healthbar {
	position: absolute;
	top: 605px;
	left: 110px;
	background-color: #888;
	height: 10px;
	width: 1000px;
	transition: width 0.2s ease;
}
